

body {
    width: 100vw;
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 80%;
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.pokemon-container {
    margin-top: 1rem;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-width: 90%;
    background-color: red;
    padding: 2rem;
}

.pokemon-wrapper {
    padding: 0.5rem;
    background-color: white;
}

h1 {
    background-color: bisque;
}

.fetch-all {
    margin-bottom: 1rem;
}

.input-search {
    margin-top: 1rem
}