body {
    height: 100vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}

.container {
    background-color: brown;
    align-self: flex-start;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 60rem;
}

.pokemon__wrapper {
    display: flex;
    width: auto;
}

.pokemon__image {
    width: 100px;
    height: 100px;
    background-color: red;
}